
.advantages{
    padding-bottom: 0;
}
.advantages-list__item {
    margin-bottom: 30px;
}

.advantages__header {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width:767px) {
        text-align: center;
    }
    
}

.advantages__descr {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.icons-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--backgr-team-btn-color);
    margin-bottom: 30px;
}

.advantages__icon {
    width: 70px;
    height: 70px;
}

@media screen and (min-width:768px) {
        .advantages-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    .advantages-list__item {
            width: calc((100% - 30px) / 2);
            margin-bottom: 0;
        }

}
@media screen and (min-width:1200px) {
        .advantages-list__item {
        width: calc((100% - 3 * 30px) / 4);
        
    }

}